In [6]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
import seaborn as sns
%matplotlib inline

In [11]:
cpi_path = Path("CPI_data.csv")
cpi_df = pd.read_csv(cpi_path, index_col = 'DATE', parse_dates=True, infer_datetime_format=True)
cpi_df = cpi_df.sort_index()
cpi_df.head()

                 CPI
DATE
1960-01-01 -0.340136
1960-02-01  0.341297
1960-03-01  0.000000
1960-04-01  0.340136
1960-05-01  0.000000

In [12]:
housing_path = Path("Housing_data.csv")
housing_df = pd.read_csv(housing_path, index_col = 'DATE', parse_dates=True, infer_datetime_format=True)
housing_df = housing_df.sort_index()
housing_df.head()

              MSPUS
DATE
1963-01-01  17800.0
1963-04-01  18000.0
1963-07-01  17900.0
1963-10-01  18500.0
1964-01-01  18500.0

In [13]:
housing_df = housing_df.rename(columns={"MSPUS": "Medium_Housing_Prices"})
housing_df.head()

            Medium_Housing_Prices
DATE
1963-01-01                17800.0
1963-04-01                18000.0
1963-07-01                17900.0
1963-10-01                18500.0
1964-01-01                18500.0

In [15]:
combined_df = pd.concat([cpi_df,housing_df], axis='columns', join='inner')
combined_df

                 CPI  Medium_Housing_Prices
DATE
1963-01-01  0.000000                17800.0
1963-04-01  0.000000                18000.0
1963-07-01  0.326797                17900.0
1963-10-01  0.325733                18500.0
1964-01-01  0.000000                18500.0
1964-04-01  0.000000                18900.0
1964-07-01  0.322581                18900.0
1964-10-01  0.000000                19400.0
1965-01-01  0.000000                20200.0
1965-04-01  0.319489                19800.0
1965-07-01  0.000000                20200.0
1965-10-01  0.316456                20300.0
1966-01-01  0.000000                21000.0
1966-04-01  0.623053                22100.0
1966-07-01  0.308642                21500.0
1966-10-01  0.611621                21400.0
1967-01-01  0.000000                22300.0
1967-04-01  0.303030                23300.0
1967-07-01  0.300300                22500.0
1967-10-01  0.297619                22900.0
1968-01-01  0.589971                23900.0
1968-04-01  0.291545                24900.0
1968-07-01  0.576369                24800.0
1968-10-01  0.569801                25600.0
1969-01-01  0.281690                25700.0
1969-04-01  0.554017                25900.0
1969-07-01  0.546448                25900.0
1969-10-01  0.539084                24900.0
1970-01-01  0.265252                23900.0
1970-04-01  0.785340                24400.0
...              ...                    ...
2013-10-01 -0.257528               273600.0
2014-01-01  0.372025               275200.0
2014-04-01  0.329675               288000.0
2014-07-01 -0.039019               281000.0
2014-10-01 -0.251228               298900.0
2015-01-01 -0.470589               289200.0
2015-04-01  0.203287               289100.0
2015-07-01  0.006705               295800.0
2015-10-01 -0.044968               302500.0
2016-01-01  0.165310               299800.0
2016-04-01  0.474107               306000.0
2016-07-01 -0.161814               303800.0
2016-10-01  0.124675               310900.0
2017-01-01  0.582773               313100.0
2017-04-01  0.296553               318200.0
2017-07-01 -0.068992               320500.0
2017-10-01 -0.063204               337900.0
2018-01-01  0.544775               331800.0
2018-04-01  0.397509               315600.0
2018-07-01  0.006746               330900.0
2018-10-01  0.176676               322800.0
2019-01-01  0.190660               313000.0
2019-04-01  0.529500               322500.0
2019-07-01  0.167094               318400.0
2019-10-01  0.228619               327100.0
2020-01-01  0.387977               329000.0
2020-04-01 -0.668694               322600.0
2020-07-01  0.505824               337500.0
2020-10-01  0.041494               358700.0
2021-01-01  0.425378               347500.0

[233 rows x 2 columns]